/* 余白調整 (padding, margin) */

@use "variable" as var;

// 0
body,
ul, ol {
  margin: 0;
}

// listを内側に。サイズは文字の大きさによって調整が必要。
ul, ol {
  padding-inline-start: 20px;
}

// 見出しの上下に小さめの余白設定
h1, h2, h3, h4, h5, h6 {
  margin-block-start: .5em;
  margin-block-end: .5em;
}

// 段落の上下に1文字の余白設定
p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

// listの入れ子のpaddingを復活
// 最初は20px。
ul ul,
ol ol,
ul ol,
ol ul {
  padding-inline-start: var.$indent-size-px;
}

dd {
  margin-inline-start: var.$indent-size-px; // ddのmargin調整
  padding-top: .5em; // dtとの距離をとる
}
